body{
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.703), 
            rgba(0, 0, 0, 0.703)
        ),
        url("https://i.redd.it/k4n1xkzvktb21.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} 
table.table.text-success thead{
    color: white;
    background-color: rgb(80, 40, 7);
}

tr.main_data{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

tr.main_data td{
    background-color: rgba(240, 248, 255, 0.411);
    color: black;
    vertical-align: middle;
}

tr.main_data td a{
    text-decoration: none;
    color: rgba(6, 75, 223, 0.979);
}

tr.main_data td img{
    height: 100px;
    width: 100px;
}

nav.nav.nav-pills.nav-justified{
    margin-top: 50px;
}

nav.nav.nav-pills.nav-justified a{
    margin-right: 10px;
}

.advert_main{
    background-color: rgba(8, 2, 2, 0.726);
    height: 70%;
    width: 100%;
    margin-top: 5%;
}

.advert_img{
    height: 15%;
    width: 15%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

table[class='table text-success text-center'] tbody tr[class='main_data bg-light'] td{
    border-right: 10px;
}