{% extends "users_templates/profile.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block adverts %}
    {% if objects|length > 0 %}
        {% if comments %}
            {% include "profile_templates/userComments.html" %}
        {% else %}
            {% include "profile_templates/userAdverts.html" %}
        {% endif %}
        {% include "pagination.html" %} <!--PAGINATION-->
    {% else %}
        <div class="work-container">
            <h3>{{no_data}}</h3>
        </div>
    {% endif %}

{% endblock adverts %}